* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    color: #EEE;
}

header {
    text-align:center;
    background-color: cornflowerblue;
}


.taskCard {
    width:250px;
    padding: 10px 25px;
    margin: 10px 1%;
    background-color: #e0e0e0;
    border-radius: 5px;
}


.taskCardInputArea {
    margin-bottom: 10px;
    /*width: 30%;*/
    cursor: pointer;
}


.taskCardInput {
    width: 80px;
    font-size: 1.1rem;
    padding:4px 6px;
    border-radius: 3px;
    border:none;
    outline:none;
}

.taskAddInput {
    width: 100%;
    font-size:1.3rem;
    border-radius: 3px;
    border:none;
    outline:none;

}


.taskBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(75,75,75);
}

.taskText {
    margin-left:12px;
}

.taskTrashButton {
    margin-right:9px;
    border:none;
    cursor:pointer;
}