* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    color: #EEE;
}

header {
    text-align:center;
    background-color: cornflowerblue;
}


.taskCard {
    width:250px;
    padding: 10px 25px;
    margin: 10px 1%;
    background-color: #e0e0e0;
    border-radius: 5px;
}


/*.taskCardInputArea {*/
/*    margin-bottom: 10px;*/
/*    !*width: 30%;*!*/
/*    cursor: pointer;*/
/*}*/


/*.taskCardInput {*/
/*    width: 80px;*/
/*    font-size: 1.1rem;*/
/*    padding:4px 6px;*/
/*    border-radius: 3px;*/
/*    border:none;*/
/*    outline:none;*/
/*}*/

.taskAddInput {
    width: 100%;
    font-size:1.3rem;
    border-radius: 3px;
    border:none;
    outline:none;

}


.taskBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(75,75,75);
}

/*.taskText {*/
/*    margin-left:12px;*/
/*}*/

/*.taskTrashButton {*/
/*    margin-right:9px;*/
/*    border:none;*/
/*    cursor:pointer;*/
/*}*/

/*.taskCardsArea {*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    align-items:flex-start;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.addTaskCardButtonArea {*/
/*    margin-left: 1%;*/
/*    margin-top: 25px;*/
/*}*/

/*.addTaskCardButton {*/
/*    padding: 10px 18px;*/
/*    border-radius: 9999px;*/
/*    font-size:30px;*/
/*    background-color: rgb(192, 200, 217);*/
/*    box-shadow: 3px 3px 8px 1px black;*/
/*    cursor: pointer;*/
/*    transition: all 0.3s;*/
/*}*/

/*.addTaskCardButton:hover {*/
/*    box-shadow: none;*/
/*    transform: translate(3px, 3px);*/
/*}*/

/*.taskCardHeader {*/
/*    display:flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.taskCardDeleteButton {*/
/*    border:none;*/
/*    cursor:pointer;*/
/*    background-color: #e0e0e0;*/
/*    font-size:16px;*/
/*    color: #af1212;*/
/*}*/